/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)


$mainColor: #444;
$headingColor: #444;

$mainFontSize: 38px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: normal;
$headingFontWeight: 600;
$linkColor: #42affa;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );
$red: #FE8F8E;
$white: #fff;

$backgroundColor: $white;
$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

.white {
	color: $white !important;
}
.red {
	color: $red;
}
.left-align{
	text-align: left;
}
.right-align {
	text-align: right;
}
.op-50 {
	opacity: 0.5;
}
.w-50 {
	width: 49%;
	box-sizing: border-box;
	float: left;
}
.cheatsheet {
	@extend .left-align;
	p, ul > li {
		font-size: 1rem;
	}
	.reveal & ul {
		width: 49%;
		box-sizing: border-box;
		margin: auto !important;
	}
}

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #222;
	}
}

.reveal pre code {
	padding: 2em !important;
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
